version: '2.1'
services:
  article-database:
    image: postgres:latest
    container_name: article-database
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB:       "article_dev"
    volumes:
      - ./article-init.sql:/docker-entrypoint-initdb.d/article-init.sql
#      - ./article-data.sql:/docker-entrypoint-initdb.d/article-data.sql
    networks:
      backend:
        aliases:
          - "articledatabase"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  comment-database:
    image: postgres:latest
    container_name: comment-database
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "comment_dev"
    volumes:
      - ./comment-init.sql:/docker-entrypoint-initdb.d/comment-init.sql
    #      - ./article-data.sql:/docker-entrypoint-initdb.d/article-data.sql
    networks:
      backend:
        aliases:
          - "commentdatabase"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  comment-service:
    image: kt.article/comment-service:0.0.1-SNAPSHOT
    container_name: comment-service
    ports:
      - "8061:8061"
    depends_on:
      config-server:
        condition: service_started
      comment-database:
        condition: service_healthy
    networks:
      - backend

  config-server:
    image: kt.article/config-server:0.0.1-SNAPSHOT
    container_name: config-server
    ports:
      - "8071:8071"
    networks:
      backend:
        aliases:
          - "configserver"

  eureka-server:
    image: kt.article/eureka-server:0.0.1-SNAPSHOT
    container_name: eureka-server
    ports:
      - "8070:8070"
    depends_on:
      config-server:
        condition: service_started
    networks:
      backend:
        aliases:
          - "eurekaserver"

  gateway-server:
    image: kt.article/gateway-server:0.0.1-SNAPSHOT
    container_name: gateway-server
    ports:
      - "8072:8072"
    depends_on:
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started
    networks:
      backend:
        aliases:
          - "gateway"

  article-service:
    image: kt.article/article-service:0.0.1-SNAPSHOT
    container_name: article-service
    depends_on:
      article-database:
        condition: service_healthy
      config-server:
        condition: service_started
#      kafkaserver:
#        condition: service_started
    ports:
      - "8080:8080"
    networks:
      - backend

#  article-service2:
#    image: kt.article/article-service:0.0.1-SNAPSHOT
#    container_name: article-service2
#    environment:
#      PROFILE: "dev"
#      CONFIGSERVER_URI: "http://configserver:8071"
#      CONFIGSERVER_PORT: "8071"
#      DATABASESERVER_PORT: "5432"
#      SERVER_PORT: 8888
#    depends_on:
#      article-database:
#        condition: service_healthy
#    #      config-server:
#    #        condition: service_started
#    #      kafkaserver:
#    #        condition: service_started
#    ports:
#      - "8088:8088"
#    networks:
#      - backend

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.11.1
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    ports:
      - 9300:9300
      - 9200:9200
    networks:
      backend:
        aliases:
          - "elasticsearch"

  logstash:
    image: docker.elastic.co/logstash/logstash:7.12.0
    container_name: logstash
    command: logstash -f /etc/logstash/conf.d/logstash.conf
    volumes:
      - ./config:/etc/logstash/conf.d
    ports:
      - "5000:5000"
    networks:
      backend:
        aliases:
          - "logstash"

  kibana:
    image: docker.elastic.co/kibana/kibana:7.11.0
    container_name: kibana
    environment:
      ELASTICSEARCH_URL: "http://elasticsearch:9300"
    ports:
      - 5601:5601
    networks:
      backend:
        aliases:
          - "kibana"

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    depends_on:
      - elasticsearch
    environment:
      - STORAGE_TYPE=elasticsearch
      - ES_HOSTS=http://elasticsearch:9300
    ports:
      - 9411:9411
    networks:
      backend:
        aliases:
          - "zipkin"

volumes:
  esdata1:
    driver: local
networks:
  backend:
    driver: bridge