version: '2.1'
services:
  article-database:
    image: postgres:latest
    container_name: article-database
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB:       "article_dev"
    volumes:
      - ./article-init.sql:/docker-entrypoint-initdb.d/article-init.sql
#      - ./article-data.sql:/docker-entrypoint-initdb.d/a`rticle-data.sql
    networks:
      backend:
        aliases:
          - "articledatabase"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  comment-database:
    image: postgres:latest
    container_name: comment-database
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "comment_dev"
    volumes:
      - ./comment-init.sql:/docker-entrypoint-initdb.d/comment-init.sql
    #      - ./article-data.sql:/docker-entrypoint-initdb.d/article-data.sql
    networks:
      backend:
        aliases:
          - "commentdatabase"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  login-database:
    image: postgres:latest
    container_name: login-database
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "login_dev"
    networks:
      backend:
        aliases:
          - "logindatabase"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  comment-service:
    image: kt.article/comment-service:0.0.1-SNAPSHOT
    container_name: comment-service
    ports:
      - "8060:8060"
    depends_on:
      config-server:
        condition: service_started
      comment-database:
        condition: service_healthy
      eureka-server:
        condition: service_started
      zipkin:
        condition: service_started
    networks:
      - backend

  comment-service2:
    image: kt.article/comment-service:0.0.1-SNAPSHOT
    container_name: comment-service2
    ports:
      - "8061:8061"
    environment:
      PROFILE: "dev"
      SERVER_PORT: 8061
    depends_on:
      config-server:
        condition: service_started
      comment-database:
        condition: service_healthy
      eureka-server:
        condition: service_started
      zipkin:
        condition: service_started
    networks:
      - backend

  config-server:
    image: kt.article/config-server:0.0.1-SNAPSHOT
    container_name: config-server
    ports:
      - "8071:8071"
    networks:
      backend:
        aliases:
          - "configserver"

  eureka-server:
    image: kt.article/eureka-server:0.0.1-SNAPSHOT
    container_name: eureka-server
    ports:
      - "8070:8070"
    depends_on:
      config-server:
        condition: service_started
    networks:
      backend:
        aliases:
          - "eurekaserver"



  article-service:
    image: kt.article/article-service:0.0.1-SNAPSHOT
    container_name: article-service
    depends_on:
      article-database:
        condition: service_healthy
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started
      zipkin:
        condition: service_started
    ports:
      - "8080:8080"
    networks:
      - backend

  article-service2:
    image: kt.article/article-service:0.0.1-SNAPSHOT
    container_name: article-service2
    environment:
      PROFILE: "dev"
      SERVER_PORT: 8081
    depends_on:
      article-database:
        condition: service_healthy
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started
      zipkin:
        condition: service_started
    ports:
      - "8081:8081"
    networks:
      - backend

  article-like-service:
    image: kt.article/article-like-service:0.0.1-SNAPSHOT
    container_name: article-like-service
    depends_on:
      article-database:
        condition: service_healthy
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started
      zipkin:
        condition: service_started
    ports:
      - "8100:8100"
    networks:
      - backend

  login-service:
    image: kt.article/login-service:0.0.1-SNAPSHOT
    container_name: login-service
    depends_on:
      login-database:
        condition: service_healthy
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started
      zipkin:
        condition: service_started
    ports:
      - "8090:8090"
    networks:
      - backend

  login-service2:
    image: kt.article/login-service:0.0.1-SNAPSHOT
    container_name: login-service2
    environment:
      PROFILE: "dev"
      SERVER_PORT: 8091
    depends_on:
      login-database:
        condition: service_healthy
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started
      zipkin:
        condition: service_started
    ports:
      - "8091:8091"
    networks:
      - backend

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.11.1
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    ports:
      - 9300:9300
      - 9200:9200
    networks:
      backend:
        aliases:
          - "elasticsearch"

  logstash:
    image: docker.elastic.co/logstash/logstash:7.12.0
    container_name: logstash
    command: logstash -f /etc/logstash/conf.d/logstash.conf
    volumes:
      - ./config:/etc/logstash/conf.d
    ports:
      - "5000:5000"
    networks:
      backend:
        aliases:
          - "logstash"

  kibana:
    image: docker.elastic.co/kibana/kibana:7.11.0
    container_name: kibana
    environment:
      ELASTICSEARCH_URL: "http://elasticsearch:9300"
    ports:
      - 5601:5601
    networks:
      backend:
        aliases:
          - "kibana"

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    depends_on:
      - elasticsearch
    environment:
      - STORAGE_TYPE=elasticsearch
      - ES_HOSTS=http://elasticsearch:9300
    ports:
      - 9411:9411
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "9411" ]
      interval: 5s   # 5초마다 체크
      timeout: 5s    # 체크 타임아웃
      retries: 10    # 최대 10번 시도
    networks:
      backend:
        aliases:
          - "zipkin"

  keycloak:
    image: quay.io/keycloak/keycloak:22.0.1
    container_name: keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://logindatabase:5432/login_dev
      - KC_DB_USERNAME=postgres
      - KC_DB_PASSWORD=postgres
      - KC_HOSTNAME_PORT=8099
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_ADMIN_STRICT=false
      - KC_HTTP_ENABLED=true
      - KC_HTTP_PORT=8099
      - KC_FEATURES=scripts,upload-scripts
    volumes:
      - ./realm-export.json:/opt/keycloak/data/import/realm-export.json
    command:
      - start-dev
      - --import-realm
    ports:
      - "8099:8099"
    depends_on:
      login-database:
        condition: service_healthy
    networks:
      backend:
        aliases:
          - "keycloak"
  zookeeper:
    image: zookeeper:3.7.0
    container_name: zookeeper
    ports:
      - 2181:2181
    networks:
      backend:
        aliases:
          - "zookeeper"
  kafka-server:
    image: wurstmeister/kafka:latest
    container_name: kafka
    ports:
      - 9092:9092
    environment:
      - KAFKA_ADVERTISED_HOST_NAME=kafka
      - KAFKA_ADVERTISED_PORT=9092
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CREATE_TOPICS=articleLikeTopic:3:1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    depends_on:
      - zookeeper
    networks:
      backend:
        aliases:
          - "kafka"
  redis-server:
    image: redis:alpine
    container_name: redis
    ports:
      - 6379:6379
    networks:
      backend:
        aliases:
          - "redis"

  gateway-server:
    image: kt.article/gateway-server:0.0.1-SNAPSHOT
    container_name: gateway-server
    ports:
      - "8072:8072"
    depends_on:
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started
      zipkin:
        condition: service_healthy
      keycloak:
        condition: service_started
      logstash:
        condition: service_started
    networks:
      backend:
        aliases:
          - "gateway"
volumes:
  esdata1:
    driver: local
networks:
  backend:
    driver: bridge