version: '2.1'
services:
  article-database:
    image: postgres:latest
    container_name: article-database
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB:       "article_dev"
    volumes:
      - ./article-init.sql:/docker-entrypoint-initdb.d/article-init.sql
#      - ./article-data.sql:/docker-entrypoint-initdb.d/article-data.sql
    networks:
      backend:
        aliases:
          - "database"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  config-server:
    image: kt.article/config-server:0.0.1-SNAPSHOT
    container_name: config-server
    ports:
      - "8071:8071"
    networks:
      backend:
        aliases:
          - "configserver"

  eureka-server:
    image: kt.article/eureka-server:0.0.1-SNAPSHOT
    container_name: eureka-server
    ports:
      - "8070:8070"
    depends_on:
      config-server:
        condition: service_started
    networks:
      backend:
        aliases:
          - "eurekaserver"

  article-service:
    image: kt.article/article-service:0.0.1-SNAPSHOT
    container_name: article-service
#    environment:
#      PROFILE: "dev"
#      CONFIGSERVER_URI: "http://configserver:8071"
#      CONFIGSERVER_PORT: "8071"
#      DATABASESERVER_PORT: "5432"
#      ENCRYPT_KEY: "IMSYMMETRIC"
    depends_on:
      article-database:
        condition: service_healthy
#      config-server:
#        condition: service_started
#      kafkaserver:
#        condition: service_started
    ports:
      - "8080:8080"
    networks:
      - backend

#  article-service2:
#    image: kt.article/article-service:0.0.1-SNAPSHOT
#    container_name: article-service2
#    environment:
#      PROFILE: "dev"
#      CONFIGSERVER_URI: "http://configserver:8071"
#      CONFIGSERVER_PORT: "8071"
#      DATABASESERVER_PORT: "5432"
#      SERVER_PORT: 8888
#    depends_on:
#      article-database:
#        condition: service_healthy
#    #      config-server:
#    #        condition: service_started
#    #      kafkaserver:
#    #        condition: service_started
#    ports:
#      - "8088:8088"
#    networks:
#      - backend

volumes:
  esdata1:
    driver: local
networks:
  backend:
    driver: bridge