spring:
  application:
    name: eureka-server
#  cloud:
#    config:
#      uri: http://configserver:8071
    loadbalancer:
      ribbon:
        enabled: false

server:
  port: 8070
eureka:
  instance:
    hostname: eurekaserver
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    waitTimeInMsWhenSyncEmpty: 5