# Spring JPA
spring:
  datasource:
    url: jdbc:postgresql://articledatabase:5432/article_dev
    username: postgres
    password: postgres
  zipkin:
    baseUrl: http://zipkin:9411
  sleuth:
    sampler:
      percentage: 1

# Eureka
eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://eurekaserver:8070/eureka/
