eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://eurekaserver:8070/eureka/

spring:
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
      discovery.locator:
        enabled: true
        lowerCaseServiceId: true
      default-filters:
        - RemoveRequestHeader= Cookie, Set-Cookie
  zipkin:
    baseUrl: http://zipkin:9411
  sleuth:
    sampler:
      percentage: 1

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8099/realms/kt-realm
          jwk-set-uri: http://keycloak:8099/realms/kt-realm/protocol/openid-connect/certs