# Spring JPA
spring:
  zipkin:
    baseUrl: http://zipkin:9411
  sleuth:
    sampler:
      percentage: 1

# Eureka
eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://eurekaserver:8070/eureka/

# Keycloak
keycloak:
  auth-server-url: http://keycloak:8099
  realm: kt-realm
  client-id: login-service
  admin-cli-secret: mT9gqTZWaEVNTPSvPe75px1vHF8uVkVa